openapi: 3.1.0
info:
  title: Upvest Investment Account Transfers Liquidations API
  description: The Upvest Investment API provides a unified interface for building embedded investment experiences. It supports placing and managing orders, creating portfolios, configuring savings plans, handling securities transfers, and managing user accounts and positions. The API covers the full order lifecycle with asynchronous processing and webhook notifications for real-time event handling. Financial institutions can use the API to offer fractional investing, automated portfolio management, and localized investment products across European and UK markets.
  version: 1.0.0
  contact:
    name: Upvest Support
    url: https://upvest.co/
  termsOfService: https://upvest.co/legal
servers:
- url: https://api.upvest.co
  description: Production Server
- url: https://sandbox.upvest.co
  description: Sandbox Server
security:
- oauth2ClientCredentials: []
tags:
- name: Liquidations
  description: Manage full or partial account liquidations.
paths:
  /accounts/{account_id}/liquidations:
    post:
      operationId: createLiquidation
      summary: Upvest Create a liquidation
      description: Initiate a full or partial liquidation of an account's holdings.
      tags:
      - Liquidations
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiquidationCreate'
            examples:
              createLiquidationRequestExample:
                summary: Default createLiquidation request
                x-microcks-default: true
                value:
                  type: FULL
      responses:
        '201':
          description: Liquidation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Liquidation'
              examples:
                createLiquidation201Example:
                  summary: Default createLiquidation 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: FULL
                    status: NEW
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createLiquidation400Example:
                  summary: Default createLiquidation 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createLiquidation401Example:
                  summary: Default createLiquidation 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listLiquidations
      summary: Upvest List liquidations
      description: Retrieve liquidation operations for an account.
      tags:
      - Liquidations
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of liquidations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Liquidation'
              examples:
                listLiquidations200Example:
                  summary: Default listLiquidations 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      account_id: {}
                      type: {}
                      status: {}
                      created_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listLiquidations401Example:
                  summary: Default listLiquidations 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Liquidation:
      type: object
      description: A liquidation of account holdings.
      properties:
        id:
          type: string
          format: uuid
          description: The liquidation identifier.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        account_id:
          type: string
          format: uuid
          description: The account being liquidated.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        type:
          type: string
          enum:
          - FULL
          - PARTIAL
          description: Whether this is a full or partial liquidation.
          example: FULL
        status:
          type: string
          enum:
          - NEW
          - PROCESSING
          - COMPLETED
          - FAILED
          description: The liquidation status.
          example: NEW
        created_at:
          type: string
          format: date-time
          description: When the liquidation was initiated.
          example: '2025-03-15T14:30:00Z'
    LiquidationCreate:
      type: object
      description: Request body for creating a liquidation.
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - FULL
          - PARTIAL
          description: Whether to fully or partially liquidate.
          example: FULL
    Error:
      type: object
      description: An API error response.
      properties:
        type:
          type: string
          description: The error type identifier.
          example: standard
        status:
          type: integer
          description: The HTTP status code.
          example: 100
        title:
          type: string
          description: A short human-readable summary of the error.
          example: example-value
        detail:
          type: string
          description: A detailed human-readable explanation of the error.
          example: example-value
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: The unique identifier of the account.
      schema:
        type: string
        format: uuid
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 client credentials flow. Obtain an access token by providing your client ID and client secret.
      flows:
        clientCredentials:
          tokenUrl: /auth/token
          scopes:
            users:read: Read user data
            users:admin: Onboard and manage users
            accounts:read: Read account data
            accounts:admin: Create and manage accounts
            orders:read: Read order data
            orders:admin: Place and manage orders
            instruments:read: Read instrument data
            portfolios:read: Read portfolio data
            portfolios:admin: Create and manage portfolios
            positions:read: Read position data
            payments:read: Read payment data
            payments:admin: Manage payments and direct debits
            reports:read: Read reports
            webhooks:read: Read webhook subscriptions
            webhooks:admin: Manage webhook subscriptions
            transactions:read: Read transaction data
            fees:read: Read fee data
            fees:admin: Configure fees
externalDocs:
  description: Upvest API Documentation
  url: https://docs.upvest.co/
