openapi: 3.1.0
info:
  title: Upvest Investment Account Transfers Executions API
  description: The Upvest Investment API provides a unified interface for building embedded investment experiences. It supports placing and managing orders, creating portfolios, configuring savings plans, handling securities transfers, and managing user accounts and positions. The API covers the full order lifecycle with asynchronous processing and webhook notifications for real-time event handling. Financial institutions can use the API to offer fractional investing, automated portfolio management, and localized investment products across European and UK markets.
  version: 1.0.0
  contact:
    name: Upvest Support
    url: https://upvest.co/
  termsOfService: https://upvest.co/legal
servers:
- url: https://api.upvest.co
  description: Production Server
- url: https://sandbox.upvest.co
  description: Sandbox Server
security:
- oauth2ClientCredentials: []
tags:
- name: Executions
  description: Track order execution details and fills.
paths:
  /orders/{order_id}/executions:
    get:
      operationId: listOrderExecutions
      summary: Upvest List order executions
      description: Retrieve execution details for a specific order. Each execution represents a fill against the order.
      tags:
      - Executions
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: List of order executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Execution'
              examples:
                listOrderExecutions200Example:
                  summary: Default listOrderExecutions 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      order_id: {}
                      status: {}
                      quantity: {}
                      price: {}
                      executed_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listOrderExecutions401Example:
                  summary: Default listOrderExecutions 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listOrderExecutions404Example:
                  summary: Default listOrderExecutions 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      description: An API error response.
      properties:
        type:
          type: string
          description: The error type identifier.
          example: standard
        status:
          type: integer
          description: The HTTP status code.
          example: 100
        title:
          type: string
          description: A short human-readable summary of the error.
          example: example-value
        detail:
          type: string
          description: A detailed human-readable explanation of the error.
          example: example-value
    Execution:
      type: object
      description: An execution fill for an order.
      properties:
        id:
          type: string
          format: uuid
          description: The execution identifier.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        order_id:
          type: string
          format: uuid
          description: The order this execution belongs to.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        status:
          type: string
          enum:
          - NEW
          - SETTLED
          - CANCELLED
          description: The execution status.
          example: NEW
        quantity:
          type: string
          description: The executed quantity as a decimal string.
          example: example-value
        price:
          type: string
          description: The execution price as a decimal string.
          example: example-value
        executed_at:
          type: string
          format: date-time
          description: When the execution occurred.
          example: '2025-03-15T14:30:00Z'
  parameters:
    OrderId:
      name: order_id
      in: path
      required: true
      description: The unique identifier of the order.
      schema:
        type: string
        format: uuid
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 client credentials flow. Obtain an access token by providing your client ID and client secret.
      flows:
        clientCredentials:
          tokenUrl: /auth/token
          scopes:
            users:read: Read user data
            users:admin: Onboard and manage users
            accounts:read: Read account data
            accounts:admin: Create and manage accounts
            orders:read: Read order data
            orders:admin: Place and manage orders
            instruments:read: Read instrument data
            portfolios:read: Read portfolio data
            portfolios:admin: Create and manage portfolios
            positions:read: Read position data
            payments:read: Read payment data
            payments:admin: Manage payments and direct debits
            reports:read: Read reports
            webhooks:read: Read webhook subscriptions
            webhooks:admin: Manage webhook subscriptions
            transactions:read: Read transaction data
            fees:read: Read fee data
            fees:admin: Configure fees
externalDocs:
  description: Upvest API Documentation
  url: https://docs.upvest.co/
