openapi: 3.1.0
info:
  title: Upvest Investment API
  description: >-
    The Upvest Investment API provides a unified interface for building embedded
    investment experiences. It supports placing and managing orders, creating
    portfolios, configuring savings plans, handling securities transfers, and
    managing user accounts and positions. The API covers the full order lifecycle
    with asynchronous processing and webhook notifications for real-time event
    handling. Financial institutions can use the API to offer fractional
    investing, automated portfolio management, and localized investment products
    across European and UK markets.
  version: '1.0.0'
  contact:
    name: Upvest Support
    url: https://upvest.co/
  termsOfService: https://upvest.co/legal
externalDocs:
  description: Upvest API Documentation
  url: https://docs.upvest.co/
servers:
- url: https://api.upvest.co
  description: Production Server
- url: https://sandbox.upvest.co
  description: Sandbox Server
tags:
- name: Account Transfers
  description: >-
    Transfer accounts between entities.
- name: Accounts
  description: >-
    Investment accounts that hold positions and track balances for users.
- name: Authentication
  description: >-
    OAuth 2.0 token management for API access using client credentials flow.
- name: Cash Balances
  description: >-
    View cash balance information for accounts.
- name: Corporate Actions
  description: >-
    View and manage corporate action events on held securities.
- name: Direct Debits
  description: >-
    Manage direct debit funding operations.
- name: Executions
  description: >-
    Track order execution details and fills.
- name: Fee Configurations
  description: >-
    Configure fee structures and schedules.
- name: Fees
  description: >-
    Track and manage fee charges on accounts.
- name: Files
  description: >-
    Access and download generated files such as reports and statements.
- name: Instrument Prices
  description: >-
    Retrieve real-time and historical price data for instruments.
- name: Instruments
  description: >-
    Query available financial instruments and their metadata.
- name: Liquidations
  description: >-
    Manage full or partial account liquidations.
- name: Mandates
  description: >-
    Manage direct debit mandates for accounts.
- name: Order Cancellations
  description: >-
    Cancel pending orders before execution.
- name: Orders
  description: >-
    Place, manage, and track buy and sell orders for instruments.
- name: Portfolio Allocations
  description: >-
    Define and update target allocations within portfolios.
- name: Portfolio Orders
  description: >-
    Place orders against portfolio allocations.
- name: Portfolios
  description: >-
    Create and manage portfolios with custom asset allocations.
- name: Portfolios Rebalancing
  description: >-
    Trigger and track portfolio rebalancing operations.
- name: Positions
  description: >-
    View current holdings and position details for accounts.
- name: Reference Accounts
  description: >-
    Manage reference bank accounts linked to investment accounts.
- name: Reports
  description: >-
    Generate and retrieve user-facing investment reports and statements.
- name: Returns
  description: >-
    Calculate account-level investment returns.
- name: Savings Plans
  description: >-
    Configure automated recurring investments into portfolios or instruments.
- name: Securities Transfers
  description: >-
    Transfer securities between accounts or providers.
- name: Tax Residencies
  description: >-
    Manage tax residency information for users.
- name: Transactions
  description: >-
    View transaction history for accounts.
- name: Treasury Reports
  description: >-
    Access treasury-level reporting for institutional oversight.
- name: User Checks
  description: >-
    Compliance and verification checks on users.
- name: User Identifiers
  description: >-
    Manage external identifiers associated with users.
- name: Users
  description: >-
    Manage end users including onboarding, identity verification, and profile
    management.
- name: Valuations
  description: >-
    Retrieve account and position valuations.
- name: Webhook Subscriptions
  description: >-
    Register, update, and manage webhook subscriptions for event notifications.
- name: Withdrawals
  description: >-
    Process cash withdrawals from investment accounts.
security:
- oauth2ClientCredentials: []
paths:
  /auth/token:
    post:
      operationId: createAccessToken
      summary: Upvest Create an access token
      description: >-
        Obtain an OAuth 2.0 access token using client credentials. The returned
        opaque access token is used to authenticate subsequent API requests. You
        must specify the required scopes for the endpoints you intend to call.
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              - scope
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                  description: >-
                    The OAuth 2.0 grant type. Must be client_credentials.
                client_id:
                  type: string
                  description: >-
                    The client identifier issued during onboarding.
                client_secret:
                  type: string
                  description: >-
                    The client secret issued during onboarding.
                scope:
                  type: string
                  description: >-
                    A space-separated list of scopes to request.
      responses:
        '200':
          description: Access token successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
              examples:
                createAccessToken200Example:
                  summary: Default createAccessToken 200 response
                  x-microcks-default: true
                  value:
                    access_token: eyJhbGciOiJSUzI1NiJ9.example
                    token_type: bearer
                    expires_in: 3600
                    scope: users:read accounts:read
        '401':
          description: Invalid client credentials or missing scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createAccessToken401Example:
                  summary: Default createAccessToken 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users:
    get:
      operationId: listUsers
      summary: Upvest List users
      description: >-
        Retrieve a paginated list of all onboarded users. Supports filtering
        and pagination parameters.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listUsers200Example:
                  summary: Default listUsers 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      first_name: {}
                      last_name: {}
                      email: {}
                      date_of_birth: {}
                      nationality: {}
                      address: {}
                      status: {}
                      created_at: {}
                      updated_at: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listUsers401Example:
                  summary: Default listUsers 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createUser
      summary: Upvest Create a user
      description: >-
        Onboard a new user to the investment platform. The user must pass
        identity verification and compliance checks before trading is enabled.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
            examples:
              createUserRequestExample:
                summary: Default createUser request
                x-microcks-default: true
                value:
                  first_name: Example Name
                  last_name: Example Name
                  email: user@example.com
                  date_of_birth: '2025-03-15'
                  nationality: DE
                  address:
                    street: {}
                    additional_line: {}
                    city: {}
                    postal_code: {}
                    state: {}
                    country: {}
      responses:
        '201':
          description: User successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                createUser201Example:
                  summary: Default createUser 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    first_name: Example Name
                    last_name: Example Name
                    email: user@example.com
                    date_of_birth: '2025-03-15'
                    nationality: DE
                    address:
                      street: {}
                      additional_line: {}
                      city: {}
                      postal_code: {}
                      state: {}
                      country: {}
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createUser400Example:
                  summary: Default createUser 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createUser401Example:
                  summary: Default createUser 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{user_id}:
    get:
      operationId: retrieveUser
      summary: Upvest Retrieve a user
      description: >-
        Retrieve details for a specific user by their unique identifier.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                retrieveUser200Example:
                  summary: Default retrieveUser 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    first_name: Example Name
                    last_name: Example Name
                    email: user@example.com
                    date_of_birth: '2025-03-15'
                    nationality: DE
                    address:
                      street: {}
                      additional_line: {}
                      city: {}
                      postal_code: {}
                      state: {}
                      country: {}
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveUser401Example:
                  summary: Default retrieveUser 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveUser404Example:
                  summary: Default retrieveUser 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateUser
      summary: Upvest Update a user
      description: >-
        Update profile information for an existing user.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
            examples:
              updateUserRequestExample:
                summary: Default updateUser request
                x-microcks-default: true
                value:
                  first_name: Example Name
                  last_name: Example Name
                  email: user@example.com
                  address:
                    street: {}
                    additional_line: {}
                    city: {}
                    postal_code: {}
                    state: {}
                    country: {}
      responses:
        '200':
          description: User successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                updateUser200Example:
                  summary: Default updateUser 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    first_name: Example Name
                    last_name: Example Name
                    email: user@example.com
                    date_of_birth: '2025-03-15'
                    nationality: DE
                    address:
                      street: {}
                      additional_line: {}
                      city: {}
                      postal_code: {}
                      state: {}
                      country: {}
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateUser400Example:
                  summary: Default updateUser 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateUser401Example:
                  summary: Default updateUser 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateUser404Example:
                  summary: Default updateUser 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{user_id}/identifiers:
    get:
      operationId: listUserIdentifiers
      summary: Upvest List user identifiers
      description: >-
        Retrieve all external identifiers associated with a user.
      tags:
      - User Identifiers
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: List of user identifiers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserIdentifier'
              examples:
                listUserIdentifiers200Example:
                  summary: Default listUserIdentifiers 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      type: {}
                      value: {}
                      created_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listUserIdentifiers401Example:
                  summary: Default listUserIdentifiers 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listUserIdentifiers404Example:
                  summary: Default listUserIdentifiers 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createUserIdentifier
      summary: Upvest Create a user identifier
      description: >-
        Add an external identifier to a user record.
      tags:
      - User Identifiers
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserIdentifierCreate'
            examples:
              createUserIdentifierRequestExample:
                summary: Default createUserIdentifier request
                x-microcks-default: true
                value:
                  type: standard
                  value: example-value
      responses:
        '201':
          description: Identifier created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentifier'
              examples:
                createUserIdentifier201Example:
                  summary: Default createUserIdentifier 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: standard
                    value: example-value
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createUserIdentifier400Example:
                  summary: Default createUserIdentifier 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createUserIdentifier401Example:
                  summary: Default createUserIdentifier 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{user_id}/identifiers/{identifier_id}:
    get:
      operationId: retrieveUserIdentifier
      summary: Upvest Retrieve a user identifier
      description: >-
        Retrieve a specific external identifier for a user.
      tags:
      - User Identifiers
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/IdentifierId'
      responses:
        '200':
          description: User identifier details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentifier'
              examples:
                retrieveUserIdentifier200Example:
                  summary: Default retrieveUserIdentifier 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: standard
                    value: example-value
                    created_at: '2025-03-15T14:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveUserIdentifier401Example:
                  summary: Default retrieveUserIdentifier 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Identifier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveUserIdentifier404Example:
                  summary: Default retrieveUserIdentifier 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateUserIdentifier
      summary: Upvest Update a user identifier
      description: >-
        Update an existing external identifier for a user.
      tags:
      - User Identifiers
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/IdentifierId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserIdentifierUpdate'
            examples:
              updateUserIdentifierRequestExample:
                summary: Default updateUserIdentifier request
                x-microcks-default: true
                value:
                  value: example-value
      responses:
        '200':
          description: Identifier updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentifier'
              examples:
                updateUserIdentifier200Example:
                  summary: Default updateUserIdentifier 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: standard
                    value: example-value
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateUserIdentifier400Example:
                  summary: Default updateUserIdentifier 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateUserIdentifier401Example:
                  summary: Default updateUserIdentifier 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{user_id}/checks:
    get:
      operationId: listUserChecks
      summary: Upvest List user checks
      description: >-
        Retrieve compliance and verification checks performed on a user.
      tags:
      - User Checks
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: List of user checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserCheck'
              examples:
                listUserChecks200Example:
                  summary: Default listUserChecks 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      type: {}
                      status: {}
                      created_at: {}
                      completed_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listUserChecks401Example:
                  summary: Default listUserChecks 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{user_id}/tax_residencies:
    get:
      operationId: listTaxResidencies
      summary: Upvest List tax residencies
      description: >-
        Retrieve tax residency information for a user.
      tags:
      - Tax Residencies
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: List of tax residencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaxResidency'
              examples:
                listTaxResidencies200Example:
                  summary: Default listTaxResidencies 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      country: {}
                      tax_identification_number: {}
                      created_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listTaxResidencies401Example:
                  summary: Default listTaxResidencies 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createTaxResidency
      summary: Upvest Create a tax residency
      description: >-
        Add a tax residency record for a user.
      tags:
      - Tax Residencies
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxResidencyCreate'
            examples:
              createTaxResidencyRequestExample:
                summary: Default createTaxResidency request
                x-microcks-default: true
                value:
                  country: DE
                  tax_identification_number: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '201':
          description: Tax residency created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxResidency'
              examples:
                createTaxResidency201Example:
                  summary: Default createTaxResidency 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    country: DE
                    tax_identification_number: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createTaxResidency400Example:
                  summary: Default createTaxResidency 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createTaxResidency401Example:
                  summary: Default createTaxResidency 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{user_id}/accounts:
    get:
      operationId: listUserAccounts
      summary: Upvest List accounts for a user
      description: >-
        Retrieve all investment accounts belonging to a specific user.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: List of user accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listUserAccounts200Example:
                  summary: Default listUserAccounts 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      user_id: {}
                      account_group_id: {}
                      type: {}
                      status: {}
                      created_at: {}
                      updated_at: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listUserAccounts401Example:
                  summary: Default listUserAccounts 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts:
    get:
      operationId: listAccounts
      summary: Upvest List accounts
      description: >-
        Retrieve a paginated list of all investment accounts.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listAccounts200Example:
                  summary: Default listAccounts 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      user_id: {}
                      account_group_id: {}
                      type: {}
                      status: {}
                      created_at: {}
                      updated_at: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listAccounts401Example:
                  summary: Default listAccounts 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createAccount
      summary: Upvest Create an account
      description: >-
        Open a new investment account for a user.
      tags:
      - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
            examples:
              createAccountRequestExample:
                summary: Default createAccount request
                x-microcks-default: true
                value:
                  user_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  account_group_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  type: standard
      responses:
        '201':
          description: Account successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                createAccount201Example:
                  summary: Default createAccount 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    user_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_group_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: standard
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createAccount400Example:
                  summary: Default createAccount 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createAccount401Example:
                  summary: Default createAccount 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}:
    get:
      operationId: retrieveAccount
      summary: Upvest Retrieve an account
      description: >-
        Retrieve details for a specific investment account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                retrieveAccount200Example:
                  summary: Default retrieveAccount 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    user_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_group_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: standard
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveAccount401Example:
                  summary: Default retrieveAccount 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveAccount404Example:
                  summary: Default retrieveAccount 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateAccount
      summary: Upvest Update an account
      description: >-
        Update metadata or settings for an existing investment account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
            examples:
              updateAccountRequestExample:
                summary: Default updateAccount request
                x-microcks-default: true
                value:
                  type: standard
      responses:
        '200':
          description: Account updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                updateAccount200Example:
                  summary: Default updateAccount 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    user_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_group_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    type: standard
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateAccount400Example:
                  summary: Default updateAccount 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateAccount401Example:
                  summary: Default updateAccount 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateAccount404Example:
                  summary: Default updateAccount 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: closeAccount
      summary: Upvest Close an account
      description: >-
        Close an investment account. The account must have no open positions
        or pending orders.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '204':
          description: Account successfully closed
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                closeAccount401Example:
                  summary: Default closeAccount 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                closeAccount404Example:
                  summary: Default closeAccount 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instruments:
    get:
      operationId: listInstruments
      summary: Upvest List instruments
      description: >-
        Retrieve a paginated list of available financial instruments including
        equities, ETFs, and other tradeable securities.
      tags:
      - Instruments
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - name: isin
        in: query
        description: >-
          Filter instruments by ISIN code.
        schema:
          type: string
        example: DE0005140008
      - name: type
        in: query
        description: >-
          Filter instruments by type.
        schema:
          type: string
          enum:
          - EQUITY
          - ETF
          - BOND
          - FUND
        example: EQUITY
      responses:
        '200':
          description: A paginated list of instruments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instrument'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listInstruments200Example:
                  summary: Default listInstruments 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      isin: {}
                      wkn: {}
                      name: {}
                      type: {}
                      currency: {}
                      exchanges: {}
                      tradeable: {}
                      fractional_trading_enabled: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listInstruments401Example:
                  summary: Default listInstruments 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instruments/{instrument_id}:
    get:
      operationId: retrieveInstrument
      summary: Upvest Retrieve an instrument
      description: >-
        Retrieve details for a specific financial instrument.
      tags:
      - Instruments
      parameters:
      - $ref: '#/components/parameters/InstrumentId'
      responses:
        '200':
          description: Instrument details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
              examples:
                retrieveInstrument200Example:
                  summary: Default retrieveInstrument 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    isin: DE0005140008
                    wkn: example-value
                    name: Example Name
                    type: EQUITY
                    currency: EUR
                    exchanges:
                    - {}
                    tradeable: true
                    fractional_trading_enabled: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveInstrument401Example:
                  summary: Default retrieveInstrument 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveInstrument404Example:
                  summary: Default retrieveInstrument 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instruments/{instrument_id}/prices:
    get:
      operationId: listInstrumentPrices
      summary: Upvest List instrument prices
      description: >-
        Retrieve price data for a specific instrument. Prices are linked to
        exchanges so you can track where prices are available.
      tags:
      - Instrument Prices
      parameters:
      - $ref: '#/components/parameters/InstrumentId'
      responses:
        '200':
          description: Instrument price data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentPrice'
              examples:
                listInstrumentPrices200Example:
                  summary: Default listInstrumentPrices 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - instrument_id: {}
                      exchange_id: {}
                      price: {}
                      currency: {}
                      timestamp: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listInstrumentPrices401Example:
                  summary: Default listInstrumentPrices 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listInstrumentPrices404Example:
                  summary: Default listInstrumentPrices 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orders:
    get:
      operationId: listOrders
      summary: Upvest List orders
      description: >-
        Retrieve a paginated list of orders. Supports filtering by account,
        status, and other criteria.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      - name: account_id
        in: query
        description: >-
          Filter orders by account identifier.
        schema:
          type: string
          format: uuid
        example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      - name: status
        in: query
        description: >-
          Filter orders by status.
        schema:
          type: string
          enum:
          - NEW
          - PROCESSING
          - FILLED
          - CANCELLED
          - REJECTED
        example: NEW
      responses:
        '200':
          description: A paginated list of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listOrders200Example:
                  summary: Default listOrders 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      account_id: {}
                      user_id: {}
                      instrument_id: {}
                      side: {}
                      type: {}
                      status: {}
                      quantity: {}
                      cash_amount: {}
                      limit_price: {}
                      stop_price: {}
                      currency: {}
                      created_at: {}
                      updated_at: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listOrders401Example:
                  summary: Default listOrders 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createOrder
      summary: Upvest Place an order
      description: >-
        Place a new buy or sell order for a financial instrument. Orders are
        processed asynchronously and their status can be tracked via webhooks
        or polling.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
            examples:
              createOrderRequestExample:
                summary: Default createOrder request
                x-microcks-default: true
                value:
                  account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  side: BUY
                  type: MARKET
                  quantity: example-value
                  cash_amount: example-value
                  limit_price: example-value
                  stop_price: example-value
                  currency: EUR
      responses:
        '201':
          description: Order successfully placed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                createOrder201Example:
                  summary: Default createOrder 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    user_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    side: BUY
                    type: MARKET
                    status: NEW
                    quantity: example-value
                    cash_amount: example-value
                    limit_price: example-value
                    stop_price: example-value
                    currency: EUR
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid order request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createOrder400Example:
                  summary: Default createOrder 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createOrder401Example:
                  summary: Default createOrder 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orders/{order_id}:
    get:
      operationId: retrieveOrder
      summary: Upvest Retrieve an order
      description: >-
        Retrieve details for a specific order including current status and
        execution information.
      tags:
      - Orders
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                retrieveOrder200Example:
                  summary: Default retrieveOrder 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    user_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    side: BUY
                    type: MARKET
                    status: NEW
                    quantity: example-value
                    cash_amount: example-value
                    limit_price: example-value
                    stop_price: example-value
                    currency: EUR
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveOrder401Example:
                  summary: Default retrieveOrder 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveOrder404Example:
                  summary: Default retrieveOrder 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orders/{order_id}/cancellation:
    post:
      operationId: cancelOrder
      summary: Upvest Cancel an order
      description: >-
        Request cancellation of a pending order. Cancellation may not be
        possible if the order is already in execution.
      tags:
      - Order Cancellations
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Cancellation request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCancellation'
              examples:
                cancelOrder200Example:
                  summary: Default cancelOrder 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    order_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: PENDING
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Order cannot be cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                cancelOrder400Example:
                  summary: Default cancelOrder 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                cancelOrder401Example:
                  summary: Default cancelOrder 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                cancelOrder404Example:
                  summary: Default cancelOrder 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orders/{order_id}/executions:
    get:
      operationId: listOrderExecutions
      summary: Upvest List order executions
      description: >-
        Retrieve execution details for a specific order. Each execution
        represents a fill against the order.
      tags:
      - Executions
      parameters:
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: List of order executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Execution'
              examples:
                listOrderExecutions200Example:
                  summary: Default listOrderExecutions 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      order_id: {}
                      status: {}
                      quantity: {}
                      price: {}
                      executed_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listOrderExecutions401Example:
                  summary: Default listOrderExecutions 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listOrderExecutions404Example:
                  summary: Default listOrderExecutions 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /portfolios:
    get:
      operationId: listPortfolios
      summary: Upvest List portfolios
      description: >-
        Retrieve a paginated list of portfolios.
      tags:
      - Portfolios
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of portfolios
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Portfolio'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listPortfolios200Example:
                  summary: Default listPortfolios 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      account_id: {}
                      name: {}
                      status: {}
                      created_at: {}
                      updated_at: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listPortfolios401Example:
                  summary: Default listPortfolios 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createPortfolio
      summary: Upvest Create a portfolio
      description: >-
        Create a new portfolio with a defined set of target allocations across
        instruments.
      tags:
      - Portfolios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioCreate'
            examples:
              createPortfolioRequestExample:
                summary: Default createPortfolio request
                x-microcks-default: true
                value:
                  account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Example Name
                  allocations:
                  - {}
      responses:
        '201':
          description: Portfolio created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
              examples:
                createPortfolio201Example:
                  summary: Default createPortfolio 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    name: Example Name
                    status: ACTIVE
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createPortfolio400Example:
                  summary: Default createPortfolio 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createPortfolio401Example:
                  summary: Default createPortfolio 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /portfolios/{portfolio_id}:
    get:
      operationId: retrievePortfolio
      summary: Upvest Retrieve a portfolio
      description: >-
        Retrieve details for a specific portfolio including its allocations
        and current state.
      tags:
      - Portfolios
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      responses:
        '200':
          description: Portfolio details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
              examples:
                retrievePortfolio200Example:
                  summary: Default retrievePortfolio 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    name: Example Name
                    status: ACTIVE
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrievePortfolio401Example:
                  summary: Default retrievePortfolio 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrievePortfolio404Example:
                  summary: Default retrievePortfolio 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updatePortfolio
      summary: Upvest Update a portfolio
      description: >-
        Update portfolio settings or metadata.
      tags:
      - Portfolios
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioUpdate'
            examples:
              updatePortfolioRequestExample:
                summary: Default updatePortfolio request
                x-microcks-default: true
                value:
                  name: Example Name
      responses:
        '200':
          description: Portfolio updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
              examples:
                updatePortfolio200Example:
                  summary: Default updatePortfolio 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    name: Example Name
                    status: ACTIVE
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updatePortfolio400Example:
                  summary: Default updatePortfolio 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updatePortfolio401Example:
                  summary: Default updatePortfolio 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /portfolios/{portfolio_id}/allocations:
    get:
      operationId: listPortfolioAllocations
      summary: Upvest List portfolio allocations
      description: >-
        Retrieve target allocations for a specific portfolio.
      tags:
      - Portfolio Allocations
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      responses:
        '200':
          description: List of portfolio allocations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortfolioAllocation'
              examples:
                listPortfolioAllocations200Example:
                  summary: Default listPortfolioAllocations 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - instrument_id: {}
                      weight: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listPortfolioAllocations401Example:
                  summary: Default listPortfolioAllocations 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updatePortfolioAllocations
      summary: Upvest Update portfolio allocations
      description: >-
        Replace the target allocation set for a portfolio.
      tags:
      - Portfolio Allocations
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - allocations
              properties:
                allocations:
                  type: array
                  items:
                    $ref: '#/components/schemas/PortfolioAllocationCreate'
            examples:
              updatePortfolioAllocationsRequestExample:
                summary: Default updatePortfolioAllocations request
                x-microcks-default: true
                value:
                  allocations:
                  - instrument_id: {}
                    weight: {}
      responses:
        '200':
          description: Allocations updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortfolioAllocation'
              examples:
                updatePortfolioAllocations200Example:
                  summary: Default updatePortfolioAllocations 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - instrument_id: {}
                      weight: {}
        '400':
          description: Invalid allocations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updatePortfolioAllocations400Example:
                  summary: Default updatePortfolioAllocations 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updatePortfolioAllocations401Example:
                  summary: Default updatePortfolioAllocations 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /portfolios/{portfolio_id}/orders:
    post:
      operationId: createPortfolioOrder
      summary: Upvest Place a portfolio order
      description: >-
        Place an order against a portfolio allocation. The order amount is
        distributed across the portfolio's instruments according to the
        target allocations.
      tags:
      - Portfolio Orders
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioOrderCreate'
            examples:
              createPortfolioOrderRequestExample:
                summary: Default createPortfolioOrder request
                x-microcks-default: true
                value:
                  cash_amount: example-value
                  currency: EUR
      responses:
        '201':
          description: Portfolio order placed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioOrder'
              examples:
                createPortfolioOrder201Example:
                  summary: Default createPortfolioOrder 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    portfolio_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    cash_amount: example-value
                    currency: EUR
                    status: NEW
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createPortfolioOrder400Example:
                  summary: Default createPortfolioOrder 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createPortfolioOrder401Example:
                  summary: Default createPortfolioOrder 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /portfolios/{portfolio_id}/rebalancing:
    post:
      operationId: triggerPortfolioRebalancing
      summary: Upvest Trigger portfolio rebalancing
      description: >-
        Initiate a rebalancing operation to realign current holdings with
        target allocations.
      tags:
      - Portfolios Rebalancing
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      responses:
        '201':
          description: Rebalancing initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebalancingExecution'
              examples:
                triggerPortfolioRebalancing201Example:
                  summary: Default triggerPortfolioRebalancing 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    portfolio_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: NEW
                    created_at: '2025-03-15T14:30:00Z'
        '400':
          description: Rebalancing not possible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                triggerPortfolioRebalancing400Example:
                  summary: Default triggerPortfolioRebalancing 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                triggerPortfolioRebalancing401Example:
                  summary: Default triggerPortfolioRebalancing 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listRebalancingExecutions
      summary: Upvest List rebalancing executions
      description: >-
        Retrieve a list of rebalancing executions for a portfolio.
      tags:
      - Portfolios Rebalancing
      parameters:
      - $ref: '#/components/parameters/PortfolioId'
      responses:
        '200':
          description: List of rebalancing executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RebalancingExecution'
              examples:
                listRebalancingExecutions200Example:
                  summary: Default listRebalancingExecutions 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      portfolio_id: {}
                      status: {}
                      created_at: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listRebalancingExecutions401Example:
                  summary: Default listRebalancingExecutions 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /savings_plans:
    get:
      operationId: listSavingsPlans
      summary: Upvest List savings plans
      description: >-
        Retrieve a paginated list of automated savings plans.
      tags:
      - Savings Plans
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of savings plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavingsPlan'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              examples:
                listSavingsPlans200Example:
                  summary: Default listSavingsPlans 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: {}
                      account_id: {}
                      portfolio_id: {}
                      instrument_id: {}
                      cash_amount: {}
                      currency: {}
                      frequency: {}
                      status: {}
                      next_execution_date: {}
                      created_at: {}
                      updated_at: {}
                    meta:
                      offset: 0
                      limit: 20
                      count: 100
                      total: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                listSavingsPlans401Example:
                  summary: Default listSavingsPlans 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSavingsPlan
      summary: Upvest Create a savings plan
      description: >-
        Create an automated recurring investment plan. Savings plans execute
        on a defined schedule, investing a specified amount into an instrument
        or portfolio.
      tags:
      - Savings Plans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavingsPlanCreate'
            examples:
              createSavingsPlanRequestExample:
                summary: Default createSavingsPlan request
                x-microcks-default: true
                value:
                  account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  portfolio_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  cash_amount: example-value
                  currency: EUR
                  frequency: WEEKLY
      responses:
        '201':
          description: Savings plan created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlan'
              examples:
                createSavingsPlan201Example:
                  summary: Default createSavingsPlan 201 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    portfolio_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    cash_amount: example-value
                    currency: EUR
                    frequency: WEEKLY
                    status: ACTIVE
                    next_execution_date: '2025-03-15'
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createSavingsPlan400Example:
                  summary: Default createSavingsPlan 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                createSavingsPlan401Example:
                  summary: Default createSavingsPlan 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /savings_plans/{savings_plan_id}:
    get:
      operationId: retrieveSavingsPlan
      summary: Upvest Retrieve a savings plan
      description: >-
        Retrieve details for a specific savings plan.
      tags:
      - Savings Plans
      parameters:
      - $ref: '#/components/parameters/SavingsPlanId'
      responses:
        '200':
          description: Savings plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlan'
              examples:
                retrieveSavingsPlan200Example:
                  summary: Default retrieveSavingsPlan 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    portfolio_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    cash_amount: example-value
                    currency: EUR
                    frequency: WEEKLY
                    status: ACTIVE
                    next_execution_date: '2025-03-15'
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveSavingsPlan401Example:
                  summary: Default retrieveSavingsPlan 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Savings plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                retrieveSavingsPlan404Example:
                  summary: Default retrieveSavingsPlan 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateSavingsPlan
      summary: Upvest Update a savings plan
      description: >-
        Update the configuration of an existing savings plan.
      tags:
      - Savings Plans
      parameters:
      - $ref: '#/components/parameters/SavingsPlanId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavingsPlanUpdate'
            examples:
              updateSavingsPlanRequestExample:
                summary: Default updateSavingsPlan request
                x-microcks-default: true
                value:
                  cash_amount: example-value
                  frequency: WEEKLY
                  status: ACTIVE
      responses:
        '200':
          description: Savings plan updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlan'
              examples:
                updateSavingsPlan200Example:
                  summary: Default updateSavingsPlan 200 response
                  x-microcks-default: true
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    account_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    portfolio_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    instrument_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    cash_amount: example-value
                    currency: EUR
                    frequency: WEEKLY
                    status: ACTIVE
                    next_execution_date: '2025-03-15'
                    created_at: '2025-03-15T14:30:00Z'
                    updated_at: '2025-03-15T14:30:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateSavingsPlan400Example:
                  summary: Default updateSavingsPlan 400 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                updateSavingsPlan401Example:
                  summary: Default updateSavingsPlan 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSavingsPlan
      summary: Upvest Delete a savings plan
      description: >-
        Cancel and remove an automated savings plan.
      tags:
      - Savings Plans
      parameters:
      - $ref: '#/components/parameters/SavingsPlanId'
      responses:
        '204':
          description: Savings plan deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                deleteSavingsPlan401Example:
                  summary: Default deleteSavingsPlan 401 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
        '404':
          description: Savings plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                deleteSavingsPlan404Example:
                  summary: Default deleteSavingsPlan 404 response
                  x-microcks-default: true
                  value:
                    type: standard
                    status: 100
                    title: example-value
                    detail: example-value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accounts/{account_id}/positions:
    get:
      operationId: listPositions
      summary: Upvest List positions
      description: >-
[...]
